### ModelSim ###
work/
!work/_info
*.mti
*.wlf
*.bak
*.do
commands/*out.txt

### ISE ###
xlnx_auto_0_xdb/
iseconfig/
_xmsgs/
_ngo/
xst/
*.syr
*.map
*.mrp
*.ncd
*.ngm
*.xrpt
*.csv
*.html
*.gise
*.log
*.bld
*.cmd_log
*.lso
*.ngc
*.ngd
*.ngr
*.prj
*.stx
*.xst
*.ini
*.xml
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*pad.txt
*.bgn
*.xwbt
*.drc
*.bit
*.mcs
*.cfi
*.prm

### Other ###
*~
*#
