*.swo
*.swp
*.ngc
*.lso
*.prj
*.stx
*.syr
*.xst
*.html
*.uroutes
*.twr
*.twx
*.ncd
*.pcf
*.par
*.ngd
*.cmd_log
*.cmd
*.xmsgs
*.pad
*.ngr
*.bld
*.gise
*.log
*.xml
*.exe
*.swn
*.swl
*.swm
*.tcl
*.bld
*.ngr
*.ptwx
*.xpi
*.map
*.mrp
*.ngm
work/*
*.veo
*.asy
*.ncf
*.cpg
*.xdc
*.swj
*.swk
ipcore_dir/*
extra/*
iseconfig/*
